/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss which makes it higher in priority.
 */

// Colors.
$black: #000;
$white: #fff;
$gray: #999;;
$fubade_green: #9c3;
$error_color: #af1f1f;

.wp-block:has(.wp-block-ifdw-fubade) {
	.wp-block-ifdw-fubade {
		padding: 0.75rem;
		background-color: $white;
		border: 1px solid $black;

		&__main {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 0.5rem;
			margin: 0.5rem 0;
		}

		label {
			font-weight: bold;
			white-space: nowrap;
		}

		textarea {
			padding: 0 0.5rem;
			border: 1px solid $gray;
			border-radius: 0;
		}

		&__header,
		&__footer {
			padding: 0.5rem;
			color: $white;
			text-align: center;
			background-color: $fubade_green;
		}

		&__header {
			margin: 0;
			font-style: italic;
		}

		&__footer {
			font-size: 0.75rem;
			font-family: monospace;

			&--error {
				background-color: $error_color;
			}
		}
	}
}
